*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font:normal 14px "Arial";
}

#app {
    width: 100vw;
    min-height: 100vh;
}
.settings{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:1rem;
}
.paginator-place{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding:1rem;
    flex-basis: 60%;
}
.notify-place{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:1rem;
    padding:1rem;
    flex-basis: 40%;
}